<div class="tab">
    <div class="row">
        <div class="col-1 col-xs-2 col-sm-1 col-md-1">
            <button type="button" name="timeline_button" class="btn btn-default no-padding">time</button>
        </div>
        <div class="col-1 col-xs-2 col-sm-1 col-md-1">
            <textarea type="text" name="str_timeline[]" class="no-padding text-center">0:15</textarea>
        </div>
        <div class="col-1 col-xs-2 col-sm-1 col-md-1">
            <button type="button" name="subtittle_button" class="btn btn-default no-padding">sub</button>
        </div>
        <div class="col-9 col-xs-6 col-sm-9 col-md-9">
            <textarea name="subtittle[]" class="no-padding">oh my god the cup snacks is small that's</textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-1 col-xs-2 col-sm-1 col-md-1">
            <button type="button" name="note_button" class="btn btn-default no-padding">note</button>
        </div>
        <div class="col-9 col-xs-8 col-sm-9 col-md-9">
            <textarea name="note[]" style="white-space:pre-line;" class="no-padding"></textarea>
        </div>
        <div class="col-1 col-xs-1 col-sm-1 col-md-1">
            <button type="button" name="add_button" class="btn btn-default no-padding">+</button>
        </div>
        <div class="col-1 col-xs-1 col-sm-1 col-md-1">
            <button type="button" name="del_button" class="btn btn-default no-padding">-</button>
        </div>
    </div>
</div>